.course-details {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
}

.course-headline-container {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.chapters-box {
  /* width: 328px;
  height: 260px;
  left: 17px;
  top: 311px; */

  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
  padding:0.8rem 0;
}

.chapter-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.chapter-item {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  color: #aaa;
  padding: 0.8rem 1.6rem;

  display: flex;
  align-items: start;
  gap: 1.2rem;

}

.chapter-item:hover,
.chapter-item:active {
  /* BlueBlack/100 */
  color: #253658;
  background: rgba(0, 171, 254, 0.08);

 
}


.chapter-item:hover .circle {
  border-color: #253658;
}

.chapter-item svg {
  stroke: #aaa;
}

.chapter-item:hover svg {
  stroke: #253658;
}

.chapter-item .duration{
    font-weight: 400;
    margin-left:auto;
}
